<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  <style>
    #form{
      display: flex;
     flex-direction: column;
     justify-content: space-around;
    }
    textarea{
      height: 400px;
    }
    input{
      height: 40px;
    }
    button{
      height: 40px;

    }
    #upload{
      display: grid;
      place-items:center ;
      margin-top: 30px;
      position: absolute;
      top:130%;
      left:40%;


    }
  </style>
</head>
<body>
    <div>
       
      
        <form method="POST"  id="form" >
        <input type='text' placeholder="blog-title" name='blogtitle'>
        <br><br>
        <input type='text' placeholder="blog author" name='blogauthor'>
        <br><br>
       
          
        <br><br>
        <input   type="date"  placeholder="" name='time'>
        <br><br>
        <input  placeholder="blog-url" name='blogurl' id='images'>
        <br><br>
        <textarea placeholder="blog description" name='blogdescription'></textarea>
        <br><br>
        <input type='file' name='files'>
        <br><br>

        <br><br>
        <br><br>
        <input type='submit'>
       
        </form>    
        <button onclick="fn()" id="upload"> Uplaod images</button> 
      
    </div>
    <script>
        function fn(){
          
        const formData = new FormData();
        const fileField = document.querySelector('input[type="file"]');
        
        
        formData.append('file', fileField.files[0]);
        formData.append('upload_preset','Flipcart')
        formData.append('cloud_name','rajeev')
        
        fetch('https://api.cloudinary.com/v1_1/rajeev/image/upload', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(result => {
          console.log('Success:', result);
          console.log(result.url)
          document.getElementById('images').value=result.url
        })
        }
    </script>
</body>

</html>